body {
  font-family: 'Inter', sans-serif;
  background-color: #2B2E3F; /* gray-100 */
  color: #ffffff; /* gray-900 */
}

/* TodoCard.css */
.todo-card {
  background-color: #1531d1; /* gray-200 */
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.divider {
  border-bottom: 2px solid #4b5563; /* gray-600 for better contrast */
  margin: 1rem 0;
}

.welcome-message h1 {
  font-size: 24px;
  line-height: 1.2;
}

.profile-image-img {
  border-radius: 100000rem;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.status-buttons button {
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  color: white;
}

.status-buttons button:nth-child(1) {
  background-color: #FFDE87; /* yellow for Pausad */
}

.status-buttons button:nth-child(2) {
  background-color: #FF7C85; /* red for Avslutad */
}

.status-buttons button:nth-child(3) {
  background-color: #75B07D; /* green for Pågående */
}

.status-buttons button:nth-child(4) {
  background-color: #7175A1; /* gray for Klar */
}

.status-buttons button:hover {
  opacity: 0.9;
}

.add-todo button {
  display: flex;
  background-color: #2B2E3F;
  align-items: center;
  gap: 1rem;
  border: 2px dashed #ffffff; /* Dashed border */
  padding: 0.5rem 1rem; /* Add padding for better spacing */
  border-radius: 0.5rem; /* Optional: rounded corners */
  cursor: pointer; /* Pointer cursor for better UX */
  color: #ffffff;
}

.add-todo:hover {
  background-color: #374151; /* Slightly darker background on hover */
}



